@font-face {
  font-family: "avenir";
  src: url("./components//avenir/AvenirNextLTPro-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
}

html {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: "avenir", sans-serif;
}

.allLogo {
  display: flex;
  align-items: center;
  margin-right: -13rem;
}
.allLogo img {
  width: 10%;
}
.links {
  margin-right: 23rem;
}

.buttons button {
  border: none;
  padding: 0.5rem 1rem;
  background: #6a1b1b;
  border-radius: 5px;
  color: #fff;
  box-shadow: inset -3px -3px 3px black, 3px 3px 3px gray;
  cursor: pointer;
  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
  padding: 1rem;
}

li {
  list-style: none;
  display: inline;
  margin-left: 2rem;
  font-size: 1.1rem;
}

li:hover {
  text-decoration: underline;
  text-decoration-color: #c6902c;
}

a {
  color: black;
  text-decoration: none;
}

.buttons {
}

.buttons input {
  border-radius: 0.2rem;
  width: 100%;
  border: 1px solid black;
  padding: 0.2rem;
  outline: none;
}

.buttons input::-webkit-search-cancel-button {
  appearance: none;
}

.buttons img {
  transform: translateX(-1.5rem);
  width: 10%;
}

.home {
  padding: 1rem 0;
  margin-top: 3rem;
}

.home h1 {
  text-transform: uppercase;
  margin-top: 10rem;
  font-size: 3rem;
  margin-left: 2rem;
  text-align: center;
}

.homeer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.image img {
  width: 100%;
}

.texter {
  margin-top: 4rem;
}

.texter p {
  margin-top: 1rem;
  margin-left: 9rem;
}

.texter span {
  display: block;
  text-align: left;
}

.get {
  border: none;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  background: #6a1b1b;
  border-radius: 5px;
  color: #fff;
  box-shadow: inset -3px -3px 3px black, 3px 3px 3px gray;
  cursor: pointer;
  margin-left: 9rem;
}

.about {
  padding: 2rem;
}

.about h1,
.contact h1 {
  text-align: center;
  margin-top: 3rem;
}

.about img {
  width: 100%;
  border-radius: 3rem;
}

.aboutP {
  margin-top: 5rem;
}

.aboutGrid {
  display: grid;
  grid-template-columns:50% 50%;
  gap: 2rem;
  margin-top: 3rem;
}

.food {
  padding: 2rem;
}
.food h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 6rem;
}

.food input {
  width: 70%;
  margin-left: 10rem;
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  border: none;
  border: 1px solid #6a1b1b;
  outline: none;
  border-radius: 2rem;
  box-shadow: inset 3px 3px 3px gray, inset -3px -3px 3px gray;
  font-size: 1.5rem;
  color: #6a1b1b;
}

.food input::placeholder {
  text-align: left;
  font-size: 1.5rem;
}

.food input::-webkit-search-cancel-button {
  appearance: none;
}

.fooder img {
  width: 2.5rem;
  transform: translateX(65rem) translateY(5.5rem);
  display: none;
}

.recipes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer; /* Change cursor on hover */
  overflow: hidden; /* Hide overflow to create a clipping effect */
}

.recipes-grid:hover {
  height: auto; /* Expand the container on hover */
}

.recipe-container {
  /* Styles for each recipe container */
  width: 30%; /* Adjust as needed */
  margin-bottom: 1rem;
  text-align: center; /* Center the content */
  transition: transform 0.3s ease; /* Add a transition for a smooth effect */
}

/* .recipes-grid:hover .recipe-container {
  transform: translateY(20px); 
} */

.recipe-image {
  /* Styles for the recipe image */
  width: 100%;
  border-radius: 8px;
  display: block;
}

h2 {
  /* Styles for the recipe name */
  margin-top: 10px;
  font-size: 16px;
  /* Add more heading styles as needed */
}

.contact img{
  border-radius: 50%;
}

.all {
  margin-left: 35rem;
  margin-top: 2rem;
}
.contact p {
  text-align: center;
  margin-top: 1rem;
}

/* .ingredients{
  position: relative;
  margin-bottom:40px ;
}

.ingredients-descriptions {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 15px 25px;
  background-color: rgba(0, 0, 0, .65);
} */

/* Working on responsiveness */
@media (max-width: 1220px) {
  .links {
    margin-right: 22rem;
  }

  .fooder img {
    transform: translateX(57rem) translateY(5.5rem);
  }
}

@media (max-width: 1200px) {
  .links {
    margin-right: 20rem;
  }
}

@media (max-width: 1204px) {
  .links {
    margin-right: 20rem;
  }
  .fooder img {
    transform: translateX(56rem) translateY(5.5rem);
  }
}

@media (max-width: 1196px) {
  .links {
    margin-right: 21rem;
  }

  .fooder img {
    transform: translateX(56rem) translateY(5.5rem);
  }
}

@media (max-width: 1990px) {
  .links {
    margin-right: 20rem;
  }
  .fooder img {
    transform: translateX(55rem) translateY(5.5rem);
  }
}

@media (max-width:1170px) {
  .links {
    margin-right: 19rem;
  }
  .fooder img {
    transform: translateX(55rem) translateY(5.5rem);
  }
}

@media (max-width: 1155px) {
  .links {
    margin-right: 17rem;
  }
  .fooder img {
    transform: translateX(53rem) translateY(5.6rem);
  }
}

@media (max-width:1130px) {
  .links {
    margin-right: 16rem;
  }

  .fooder img {
    transform: translateX(52rem) translateY(5.5rem);
  }
}

@media (max-width:1110px) {
  .links {
    margin-right: 15rem;
  }

  .fooder img {
    transform: translateX(52rem) translateY(5.5rem);
  }
}

@media (max-width:1100px) {
  .links {
    margin-right: 14rem;
  }

  .fooder img {
    transform: translateX(51rem) translateY(5.7rem);
  }
}

@media (max-width:1080px) {
  .links {
    margin-right: 13rem;
  }

  .fooder img {
    transform: translateX(50rem) translateY(5.7rem);
  }

}

@media (max-width:1060px) {
  .links {
    margin-right: 12rem;
  }

  .fooder img {
    transform: translateX(49rem) translateY(5.7rem);
  }

}

@media (max-width:1030px) {
  
  .homeer {
    display: grid;
    grid-template-columns: 100%;
  }

  .aboutGrid {
    grid-template-columns: 100%;
  }

  .texter p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
  }
  .texter span {
    margin: 0;
    text-align: center;
  }
  .links {
    margin-right: 11rem;
  }

  .fooder img {
    transform: translateX(48rem) translateY(5.7rem);
  }
}

@media (max-width:1040px) {

  .allLogo {
    margin-right: -16rem;
  }
  .links {
    margin-right: 14rem;
  }

  .fooder img {
    transform: translateX(48rem) translateY(5.7rem);
  }
}

@media (max-width:1010px) {

  .allLogo {
    margin-right: -18rem;
  }
  .links {
    margin-right: 12rem;
  }

  .fooder img {
    transform: translateX(47rem) translateY(5.7rem);
  }
}

@media (max-width: 1000px) {
  .links {
    margin-right: 13rem;
  }

  .fooder img {
    transform: translateX(47rem) translateY(5.7rem);
  }
}

@media  (max-width:980px) {
  .links {
    margin-right: 12rem;
  }

  .fooder img {
    transform: translateX(46rem) translateY(5.7rem);
  }
}

@media (max-width:960px) {
  .allLogo {
    margin-right: -21rem;
  }

  .links {
    margin-right: 13rem;
  }

  .fooder img {
    transform: translateX(45rem) translateY(5.7rem);
  }
}

@media (max-width:940px) {
  .links {
    margin-right: 12rem;
  }

  .fooder img {
    transform: translateX(44rem) translateY(5.7rem);
  }
}

@media (max-width:920px) {
  .links {
    margin-right: 11rem;
  }
}

@media (max-width:900px) {
  .allLogo {
    margin-right: -21rem;
  }

  .links {
    margin-right: 10rem;
  }

  .fooder img {
    transform: translateX(43rem) translateY(5.7rem);
  }
}

@media (max-width:870px) {
  .allLogo {
    margin-right: -23rem;
  } 

  .fooder img {
    transform: translateX(38rem) translateY(5.7rem);
  }

  .food input{
    margin-left: 7rem;
  }

}

@media (max-width:830px) {
  .allLogo {
    margin-right: -26rem;
  }
  .fooder img {
    transform: translateX(36rem) translateY(5.7rem);
  }
}

@media (max-width:800px) {
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .buttons {
    display: none;
  }

  .fooder img {
    display: none;
  }
}

@media (max-width:710px) {
  .food input {
    margin-left: 6rem;
  }
}

@media (max-width: 7000px) {
  .links {
    margin-left: 4rem;
  }
}

@media (max-width:630px) {
  .links {
    position: absolute;
    left: 9rem;
  }
}

@media (max-width:550px) {
  .links {
    position: absolute;
    left: 6rem;
    top: 2rem;
  }

  .food input {
    margin-left: 5rem;
  }
}

@media (Max-width:500px) {
  .innerLinks {
    display: none;
  }
}

@media (max-width:440px) {
  .food input {
    margin-left: 3rem;
  }
}

@media (max-width:330px) {
  .links {
    left: 4rem;
    top: 2.4rem;
  }
}